{% extends "controlfitos/base_template.html" %}
{% load static %}
{% block content %}
{% load tratamiento_load %}
{% get_tratamientos as tratamientos%}

<h1>Registro de tratamientos en campo</h1>

<table border="1">
    <thead>
        <td><b>Agricultor</b></td>
        <td><b>CIF</b></td>
        <td><b>Domicilio</b></td>
    </thead>
    <tr>
        <td>{{agricultor.nombre}}</td>
        <td>{{agricultor.cif}}</td>
        <td>{{agricultor.domicilio}}</td>
    </tr>
</table>

</p>


<table border="1">
    <thead>
        <td><b>Fecha</b></td>
        <td><b>Producto</b></td>
        <td><b>Nº de registro</b></td>
        <td><b>Variedad</b></td>
        <td><b>Tratamiento</b></td>
    </thead>
    {% for tratamiento in tratamientos %}
        {{tratamiento.id}}
    {% endfor %}
</table>

{% endblock content %}