{% extends "controlfitos/base_template.html" %}
{% load static %}
{% block content %}
{% load tratamiento_load %}


{% get_variedades_tratamientos as variedades_tratamientos %}

<h1>Registro de tratamientos en campo</h1>

<table border="1">
    <thead>
        <td><b>Agricultor</b></td>
        <td><b>CIF</b></td>
        <td><b>Domicilio</b></td>
    </thead>
    <tr>
        <td>{{agricultor.nombre}}</td>
        <td>{{agricultor.cif}}</td>
        <td>{{agricultor.domicilio}}</td>
    </tr>
</table>

</p>
</p>


<table border="1">
    <thead>
        <td><b>Cliente</b></td>
        <td><b>NIF</b></td>
        <td><b>Fecha</b></td>
        <td><b>Producto</b></td>
        <td><b>Nº de registro</b></td>
        <td><b>Variedad</b></td>
        <td><b>Tratamiento</b></td>
    </thead>
    {% for variedades_tratamiento in variedades_tratamientos %}
        <tr>
            <td><a href="/controlfitos/cliente/{{agricultor.cliente.id}}">{{agricultor.cliente.nombre}}</a></td>
            <td>{{agricultor.cliente.cif}}</td>
            <td>{{variedades_tratamiento.tratamiento.fecha|date:"d/m/y"}}</td>
            <td><a href="/controlfitos/producto/{{variedades_tratamiento.tratamiento.producto.id}}">{{variedades_tratamiento.tratamiento.producto.nombre|upper}}</a></td>
            <td>{{variedades_tratamiento.tratamiento.producto.noregistro|upper}}</td>
            <td><a href="/controlfitos/variedad/{{variedades_tratamiento.variedad.id}}">{{variedades_tratamiento.variedad.nombre}}</a> </td>
            <td><a href="/controlfitos/tipotratamiento/{{variedades_tratamiento.tratamiento.producto.tipoTratamiento.id}}">{{variedades_tratamiento.tratamiento.producto.tipoTratamiento.nombre}}</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}