{% extends "controlfitos/base_template.html" %}
{% load static %}
{% block content %}
{% load report_load %}
<div>
    <div>
        <form method="post">{% csrf_token %}
         <label for="lbl_start_year">Rango años</label>
         {% get_years as year_array %}
            <select name="start_year">
                <option value="0">_</option>
                {% for year in year_array %}
                    {% if year != start_year %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% else %}
                    <option value="{{ year }}" selected>{{ year }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select name="end_year">
                <option value="0">_</option>
                {% for year in year_array %}
                    {% if year != end_year %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% else %}
                    <option value="{{ year }}" selected>{{ year }}</option>
                    {% endif %}
                {% endfor %}
           </select>
            <p><input type="submit" value="Ejecutar informe"></p>
        </form>
    </div>
    <div>
        <img src="{% static  report_img  %}"/>
    </div>
</div>
{% endblock content %}
