{% extends "controlfitos/base_template.html" %}
{% load static %}
{% block content %}
{% load salida_load %}

{% get_clientes as clientes %}
{% get_variedades as variedades %}

<form method="post">{% csrf_token %}
    <table border="1">
        <thead>
            <td>Cliente</td>
            <td>Fecha</td>
            <td>Albarán</td>
            <td>Variedad</td>
            <td>Cantidad</td>
            <td>Guardar/Eliminar</td>
        </thead>
        <tr>
            <td>
                <select name="cliente">
                    {% for cliente in clientes %}
                        {% if client_id != cliente.id %}
                        <option value = "{{cliente.id}}" selected>{{cliente.nombre}}</option>
                        {% else %}
                        <option value = "{{cliente.id}}">{{cliente.nombre}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td><input type="date" name="fecha"></td>
            <td><input type="text" name="albaran"></td>
            <td>
                <select name="variedad">
                {% for variedad in variedades %}
                    <option value="{{variedad.id}}">{{variedad.nombre}}</option>
                {% endfor %}
                </select>
            </td>
            <td><input type="number" name="cantidad"></td>
            <td><button type="submit"><img src="{% static saveicon %}" width="50%" height="50%"/></button></td>
        </tr>
        {%for salida in salidas %}
        <tr>
            <td><a href="/controlfitos/cliente/{{salida.cliente.id}}">{{salida.cliente.nombre}}</a></td>
            <td>{{salida.cabSalida.fecha|date:"d/m/y" }}</td>
            <td>{{salida.albaran}}</td>
            <td><a href="/controlfitos/variedad/{{salida.variedad.id}}">{{salida.variedad.nombre}}</a></td>
            <td>{{salida.cantidad}}</td>
            <td><a href="/controlfitos/salidas/del/{{salida.id}}"><img src="{% static delicon %}" width="50%" height="50$"/></a></td>
        </tr>
        {%endfor %}
    </table>
</form>
{% endblock content %}